---
interface Props {
  background: string;
  text: string;
}
const { background, text } = Astro.props;
---

<div class="col">
  <div class="overflow-hidden">
    <div class="card border-0 rounded-0">
      <div class="img"></div>
      <h1 class="text-white text-capitalize">{text}</h1>
    </div>
  </div>
</div>
<style define:vars={{ background }} lang="scss">
  .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
      transition: 500ms ease-out;
      height: 412px;
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        var(--background);
      object-fit: contain;
      background-size: cover;
      background-position: center;
    }
    > h1 {
      font-weight: 650;
      position: absolute;
      z-index: 10;
    }
    &:hover {
      .img {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
          var(--background);
        object-fit: contain;
        background-size: cover;
        background-position: center;
        transform: scale(1.05);
      }
    }
  }
</style>
