---
import Navbar from "./_component/Navbar.astro";
import Footer from "./_component/Footer.astro";
import "../../src/styles/styles.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
<meta name="google-site-verification" content="eZRiUzVAB8cpQCTsQJjwKR8_-JOfGOlkZr_wQcxtqsE" />
    <link rel="icon" type="image/svg+xml" href="/heavenlyguide/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Heavenly Guide - Home</title>
  </head>
  <body>
    <!-- <script src={bootstrap}></script> -->
    <Navbar />
    <slot />
    <Footer />
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script>
      // Astro will bundle and process this automatically
      import ; -->
    <!-- </script> -->
  </body>
</html>
